.git
.github
.idea
.vscode

.env
.env.*

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
build/
dist/
.venv/
venv/

tests/
bin/
scripts/
docker-data/

image_collection/
image_collection.*
.image_collection*
search_results/
logs/
*.sqlite3
*.sqlite3-*
*.log
*.log.*
